<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upcoming Meetings</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Upcoming Meetings</h2>
        <ul class="list-group">
            {% for meeting in meetings %}
                <li class="list-group-item">
                    {{ meeting.date }} at {{ meeting.location }} - {{ meeting.description }}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
